#titulo{
    color: #ffffff;
    font-family: "Bebas Neue", sans-serif;
    font-size: 70px;
    text-align: center;
    background-color: #060909;
}
div.datos{
    text-align: left;
    color: #ffffff;
    font-family: "Bebas Neue", sans-serif;
    font-size: 13px;
    background-color: #060909;
    border-radius: 10px;
    width: 250px;
}
#body-inicio{
    background: url("Imagenes/fondo_inicio.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
div.inicio{
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    font-size: 40px;
}
a:link, a:visited{
    color: honeydew;
}
a:hover{
    font-size: 1.5em;
}
a:active{
    font-weight: bold;
}
div.imc-inicio{
    border: 2px solid #0aff6f;
    padding: 15px;
    margin: 20px 20px 40px;
    border-radius: 50px;
    background: #1aa659;
    box-shadow: -2px -4px #0aff6f;
    width: 500px;
    position: relative;
    left: 900px;
}
div.planes-inicio{
    border: 2px solid #0aff6f;
    padding: 15px;
    margin: 20px 20px 40px;
    border-radius: 50px;
    background: #1aa659;
    box-shadow: -2px -4px #0aff6f;
    width: 500px;
    position: relative;
    left: 500px;
}
div.actividades-inicio{
    border: 2px solid #0aff6f;
    padding: 15px;
    margin: 20px 20px 40px;
    border-radius: 50px;
    background: #1aa659;
    box-shadow: -2px -4px #0aff6f;
    width: 500px;
    position: relative;
    left: 200px;
}

#body-act{
    background: url("imagenes/fondo_actividades.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 20px;
}
div.act\.1{
    background-color: rgba(37, 35, 35, 0.73);
}
div.act{
    background-color: rgba(37, 35, 35, 0.73);
    border: 2px solid #060909;
    padding: 15px;
    margin: 10px;
    width: auto;
}

#body-planes{
    background: url("imagenes/fondo_planes.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 20px;
}
a:link, a:visited{
    color: white;
}
a:hover{
    font-size: 1.5em;
}
a:active{
    font-weight: bold;
}
div.planes{
    text-align: center;
    border: 2px solid #9ea4bd;
    padding: 10px;
    margin: 10px 10px 30px;
    background: #5a7a7e;
}
div.hipertrofia{
    text-align: center;
    border: 2px solid #9ea4bd;
    padding: 15px;
    margin: 20px 20px 40px;
    border-radius: 50px;
    background: #5a7a7e;
    box-shadow: -2px -4px #9ea4bd;
    width: 500px;
}
div.circuitos{
    text-align: center;
    border: 2px solid #9ea4bd;
    padding: 15px;
    margin: 20px 20px 40px;
    border-radius: 50px;
    background: #5a7a7e;
    box-shadow: -2px -4px #9ea4bd;
    width: 500px;
}
div.toni{
    text-align: center;
    border: 2px solid #9ea4bd;
    padding: 15px;
    margin: 20px 20px 40px;
    border-radius: 50px;
    background: #5a7a7e;
    box-shadow: -2px -4px #9ea4bd;
    width: 500px;
}
div.coach{
    text-align: center;
    border: 2px solid #9ea4bd;
    padding: 15px;
    margin: 20px 20px 40px;
    border-radius: 50px;
    background: #5a7a7e;
    box-shadow: -2px -4px #9ea4bd;
    width: 500px;
}

#coach{
    background: url("imagenes/fondo_coach.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 20px;
}
div.titulocoach{
    background-color: rgba(37, 35, 35, 0.89);
    border: 2px solid #060909;
    padding: 15px;
    margin: 10px;
}
div.coach1{
    background-color: rgba(37, 35, 35, 0.83);
    border: 2px solid #060909;
    padding: 15px;
    margin: 10px;
    width: auto;
}

#circuitos{
    background: url("imagenes/fondo_circuitos.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 20px;
}
div.circ{
    background-color: rgba(37, 35, 35, 0.89);
    border: 2px solid #060909;
    padding: 15px;
    margin: 10px;
}
div.circu{
    background-color: rgba(37, 35, 35, 0.83);
    border: 2px solid #060909;
    padding: 15px;
    margin: 10px;
    width: auto;
}

#hipertro{
    background: url("imagenes/fondo_hipertrofia.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 20px;
}
div.Hipertrofia{
    background-color: rgba(37, 35, 35, 0.89);
    border: 2px solid #060909;
    padding: 15px;
    margin: 10px;
}
div.hiper{
    background-color: rgba(37, 35, 35, 0.83);
    border: 2px solid #060909;
    padding: 15px;
    margin: 10px;
    width: auto;
}

#tonificar{
    background: url("imagenes/fondo_tonificar.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 20px;
}
div.tonifi{
    background-color: rgba(37, 35, 35, 0.89);
    border: 2px solid #060909;
    padding: 15px;
    margin: 10px;
}
div.tonif{
    background-color: rgba(37, 35, 35, 0.89);
    border: 2px solid #060909;
    padding: 15px;
    margin: 10px;
}

#body-imc{
    background: url("Imagenes/fondo_imc.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 20px;
}
div.imc{
    background-color: rgba(37, 35, 35, 0.89);
    border: 2px solid #060909;
    padding: 15px;
    margin: 10px;
}
div.calculIMC{
    background-color: rgba(37, 35, 35, 0.89);
    border: 2px solid #060909;
    padding: 15px;
    margin: 10px;
}
div.recomendacion{
    background-color: rgba(37, 35, 35, 0.89);
    border: 2px solid #060909;
    padding-bottom: 250px;
    margin: 10px;
}
div.quees{
    background-color: rgba(37, 35, 35, 0.89);
    border: 2px solid #060909;
    padding: 15px;
    margin: 10px;
}